.root-layout {
  min-height: 100vh;
  background-color: #141414;
  color: white;
}

.root-main {
  padding-top: 68px; /* To account for fixed header */
  min-height: calc(100vh - 68px);
}

button {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed from center to flex-start */
  z-index: 1000;
  overflow-y: auto; /* Add scroll to overlay */
  padding: 20px 0; /* Add some breathing room */
}
