@media (width > 80rem) {
  .mediaCard-image {
    width: 13rem;
  }
  .mediaCard-title {
    font-size: 1rem;
  }
  .mediaCard {
    width: 13rem;
  }
}

@media (width <= 80rem) {
  .mediaCard-image {
    width: 13rem;
  }
  .mediaCard-title {
    font-size: 1rem;
  }
  .mediaCard {
    width: 13rem;
  }
}

@media (width <= 64rem) {
  .mediaCard-image {
    width: 10rem;
  }
  .mediaCard-title {
    font-size: 0.8rem;
  }
  .mediaCard {
    width: 10rem;
  }
}

@media (width <= 40rem) {
  .mediaCard-image {
    width: 7rem;
  }
  .mediaCard-title {
    font-size: 0.7rem;
  }
  .mediaCard {
    width: 7rem;
  }
}

.mediaCard-title {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.mediaCard {
  line-height: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
