@media (width >= 70rem) {
  .media-card__image {
    width: 21.5vw;
  }
  .media-card__title {
    font-size: 1.42vw;
  }
  .media-card {
    width: 21.5vw;
  }
}

@media (width < 70rem) {
  .media-card__image {
    width: 15rem;
  }
  .media-card__title {
    font-size: 1rem;
  }
  .media-card {
    width: 15rem;
  }
}

@media (width >= 79rem) {
  .media-card__image {
    width: 17rem;
  }
  .media-card__title {
    font-size: 1.12rem;
  }
  .media-card {
    width: 17rem;
  }
}

.media-card__title {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.media-card {
  line-height: 0;
  display: flex;
  flex-direction: column;
}
